nav .menu a {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #052951;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #052951;
}



#info_tekst {
    text-align: center;
}

#info_tekst span {
    color: #E10E49;
}

#info_tekst h3 {
    text-align: center;
}

#basis {
    margin-top: 20px;
    text-align: center;
}

#basis span {
    color: #E10E49;

}

.menu-container {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (1fr 1fr);
    grid-template-areas: "title title" "explainer explainer";
}

@media screen and (max-width:470px) {
    nav img {
        width: 22px;
        height: 22px;
        position: relative;
        top: 1.3vw;

    }
    nav a {
        text-decoration: none;
        color: #052951;
        text-align: center;



    }
    nav {
        word-spacing: 30px;
        background-color: black;
        height: 40px;
        cursor: pointer;
        text-align: center;
    }
    nav a:hover {
        background-color: #00B9EA;
        border: 2px solid #00B9EA;
        color: white;
        opacity: 0.6;
    }
}

@media screen and (max-width:627px) {








    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }
    nav img {
        width: 22px;
        height: 22px;
        position: relative;
        top: 1.3vw;

    }
    nav a {
        text-decoration: none;
        color: #052951;
        text-align: center;



    }
    nav {
        word-spacing: 30px;
        background-color: white;
        height: 40px;
        cursor: pointer;
        text-align: center;
    }
    nav a:hover {
        background-color: #00B9EA;
        border: 2px solid #00B9EA;
        color: white;
        opacity: 0.6;
    }


    body {
        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }
    #info {
        display: grid;
        grid-gap: 22px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (1fr 1fr);
        grid-template-areas: "title title" "explainer explainer";
        margin: 0 auto;
    }

    .menu-container {
        display: grid;
        grid-gap: 7px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat (4, 1fr);
        grid-template-areas: "title title title" "explainer explainer explainer" "info info info" "insta you face";
        margin: 0 auto;
    }




    /** SLUT MENU **/
    #logo {

        grid-area: title;
    }

    #logo img {

        width: 100%;
    }

    #explainer {
        grid-area: explainer;
    }

    #explainer img {
        width: 100%;
    }

    #info button {
        background-color: #E10E49;
        border-radius: 7px;
        border: none;
        color: #F2F2F2;
    }


    #info_tekst {


        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }
    #basis {
        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }
    #cykel img {
        width: 22%;
    }
    #cykel {
        text-align: center;
    }

    #mobil img {
        width: 10%;
    }

    #mobil {
        text-align: center;
    }

    #tablet img {
        width: 16%;
    }

    #tablet {
        text-align: center;
    }

    #computer img {
        width: 24%;
    }

    #computer {
        text-align: center;
    }

    /** FOOTER **/
    footer {
        text-align: center;
        margin-top: 100px;

    }
    footer img {
        width: 50px;

    }

    #insta {
        grid-area: insta;
    }

    #youtube {
        grid-area: you;
    }

    #face {
        grid-area: face;
    }

    footer button {
        text-decoration: none;
        border: none;
        width: 15%;


    }


}

@media screen and (min-width:628px) {
    .menu-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto, 1fr);
        grid-template-areas: "logo title";
    }
    body {
        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }
    #logo {}

    #logo img {
        width: 20%;
        grid-area: logo;
        position: relative;
        top: -6vw;

    }

    #explainer {}

    #explainer img {
        width: 100%;
        grid-area: title;

    }
    #info_tekst {


        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }


    header {

        text-decoration: none;
    }

    .dropdown a {
        text-decoration: none;
        list-style-type: none;
    }

    nav a {
        color: #052951;
        font-family: 'Open Sans', sans-serif;

    }
    nav {
        text-align: center;
        text-decoration: none;
        word-spacing: 10px;
    }


    nav button {
        overflow: hidden;
        text-decoration: none;
    }
    .dropbtn {
        background-color: #D5EDFA;
        color: white;
        margin-bottom: 2vw;
        overflow: hidden;
        border: none;
        cursor: pointer;
    }
    #basis {
        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }
    #cykel img {
        width: 16%;
    }
    #cykel {
        text-align: center;

        position: relative;
        left: -25vw;
    }

    #mobil img {
        width: 7%;
    }

    #mobil {
        text-align: center;
    }

    #tablet img {
        width: 10%;
    }

    #tablet {
        text-align: center;
    }

    #computer img {
        width: 17%;
    }

    #computer {
        text-align: center;
    }


    /** FOOTER **/
    footer {
        text-align: center;
        margin-top: 100px;
    }
    footer img {
        width: 50%;
    }

    #insta {
        grid-area: insta;
    }

    #youtube {
        grid-area: you;
    }

    #face {
        grid-area: face;
    }

    footer button {
        text-decoration: none;
        border: none;
        width: 15%;


    }

}

@media screen and (min-width:770px) {}

/** MENU **/
