/** VIDEO **/

.hs-responsive-embed-youtube iframe,
video {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    padding-top: 25px;
}

/** VIDEO SLUT **/

nav .menu a {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #052951;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #052951;
}

#info_tekst {
    text-align: center;
}

#info_tekst span {
    color: #E10E49;
}

#info_tekst h3 {
    text-align: center;
}

#info_distortion {
    text-align: center;

}

#info_distortion span {
    color: #E10E49;
}



#info_distortion h3 {
    text-align: center;
}

#basis {
    margin-top: 20px;
    text-align: center;
}

#basis span {
    color: #F2F2F2;
}

.menu-container {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (1fr 1fr);
    grid-template-areas: "title title" "explainer explainer";
}

@media screen and (max-width:500px) {
    #map {

        overflow: hidden;

    }


    /** NAV **/
    nav #d {
        width: 0px;
        position: relative;
        left: -75vw;

    }

    nav img {
        overflow: hidden;
    }

    nav a {
        text-decoration: none;
        color: #052951;
        text-align: center;
        font-size: 0.9rem;
    }
    nav {
        background-color: white;
        height: 40px;
        cursor: pointer;
        text-align: center;
    }
    nav a:hover {
        background-color: #00B9EA;
        border: 2px solid #00B9EA;
        color: white;
        opacity: 0.6;
    }
    /** NAV SLUT **/
    /** INFO **/
    .cykel {
        display: inline-block;
        border: none;
        text-align: center;
        padding: 3px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .cykel span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .cykel span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .cykel:hover span {
        padding-right: 25px;
    }

    .cykel:hover span:after {
        opacity: 1;
        right: 0;
    }

    .basis {
        display: inline-block;
        border: none;
        text-align: center;
        padding: 3px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .basis span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .basis span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .basis:hover span {
        padding-right: 25px;
    }

    .basis:hover span:after {
        opacity: 1;
        right: 0;
    }

    #explainer {
        width: 60px;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        font-family: 'Open Sans', sans-serif;
        background: linear-gradient(to bottom, rgba(242, 242, 242, 0.65)0%, rgba(0, 0, 0, 0) 100%);
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }
    /** INFO SLUT **/
}

@media screen and (max-width:627px) {



    #map {
        margin-top: 20px;

    }
    body {
        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }




    /** NAV **/
    nav button {
        text-decoration: none;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropbtn {
        font-family: 'Open Sans',
        sans-serif;

        border: none;


    }

    .dropdown-content {
        display: none;
        position: absolute;
        font-family: 'Open Sans',
        sans-serif;
        background: linear-gradient(to bottom, rgba(242, 242, 242, 0.65)0%, rgba(0, 0, 0, 0) 100%);
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }

    .dropdown-content a {
        color: black;

        text-decoration: none;
        display: block;

    }

    .dropdown-content a:hover {
        color: #E10E49;
        text-decoration: underline;

    }
    .dropdown:hover .dropdown-content {
        display: block;
        z-index: 999;


    }

    .dropdown:hover .dropbtn {
        color: #00B9EA;
        text-decoration: underline;


    }
    nav a:hover {
        color: #00B9EA;
        text-decoration: underline;
    }
    nav img {
        width: 22px;
        height: 22px;
        position: relative;
        top: 1.3vw;
    }
    nav a {
        text-decoration: none;
        color: #052951;
        text-align: center;
    }
    nav {
        word-spacing: 10px;
        background-color: white;
        height: 40px;
        cursor: pointer;
        text-align: center;
    }

    /** NAV SLUT **/
    /** INFO **/
    #info {
        display: grid;
        grid-gap: 22px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (1fr 1fr);
        grid-template-areas: "title title" "explainer explainer";
        margin: 0 auto;
    }

    .menu-container {
        display: grid;
        grid-gap: 7px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat (4, 1fr);
        grid-template-areas: "title title title" "explainer explainer explainer" "info info info" "insta you face";
        margin: 0 auto;
    }

    .cykel {
        display: inline-block;
        border: none;
        text-align: center;
        padding: 3px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .cykel span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .cykel span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .cykel:hover span {
        padding-right: 25px;

    }

    .cykel:hover span:after {
        opacity: 1;
        right: 0;

    }


    .basis {
        display: inline-block;
        border: none;
        text-align: center;
        padding: 3px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .basis span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .basis span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .basis:hover span {
        padding-right: 25px;
    }

    .basis:hover span:after {
        opacity: 1;
        right: 0;
    }

    #explainer {
        grid-area: explainer;
    }

    #explainer img {
        width: 100%;
    }

    #info button {
        background-color: #E10E49;
        border-radius: 7px;
        border: none;
        color: #F2F2F2;
    }
    #info {
        margin-top: 30px;
    }

    #info_tekst {
        margin-top: 30px;

        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }
    #basis {
        margin-top: 40px;
    }


    /** INFO SLUT **/
    /** TING **/
    .basis-button button {
        background-color: #E10E49;
        border-radius: 7px;
        border: none;
        color: #F2F2F2;
        margin-top: 20px;
        padding: 7px;
    }
    #cykel img {
        width: 22%;
    }
    #cykel {
        text-align: center;
    }

    #mobil img {
        width: 10%;
    }

    #mobil {
        text-align: center;
    }

    #tablet img {
        width: 16%;
    }

    #tablet {
        text-align: center;
    }

    #computer img {
        width: 24%;
    }

    #computer {
        text-align: center;
    }
    #insta {
        grid-area: insta;
    }

    #youtube {
        grid-area: you;
    }

    #face {
        grid-area: face;
    }

    #ansvar img {
        width: 20%;
    }
    #genhusning img {
        width: 15%;
    }
    #retshjaelp img {
        width: 15%;
    }

    /** TING SLUT **/
    /** FOOTER **/
    footer {
        text-align: center;


    }
    footer img {
        width: 50px;

    }
    footer button {
        text-decoration: none;
        border: none;


        cursor: pointer;
    }

    /** FOOTER SLUT **/
}

@media screen and (min-width:628px) {

    footer button {
        cursor: pointer;
    }

    body {
        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }


    #info {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (1fr 1fr);
        grid-template-areas: "title title" "explainer explainer";
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #basis {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (1fr 1fr);
        grid-template-areas: "title title";
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    /** NAV **/
    nav button {
        text-decoration: none;
        border: none;
        font-size: 0.9rem;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropbtn {
        font-family: 'Open Sans', sans-serif;

        border: none;


    }

    .dropdown-content {
        display: none;
        position: absolute;
        font-family: 'Open Sans', sans-serif;
        background: linear-gradient(to bottom, rgba(242, 242, 242, 0.65)0%, rgba(0, 0, 0, 0) 100%);
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }

    .dropdown-content a {
        font-family: 'Open Sans', sans-serif;
        color: black;
        padding: 12px;
        text-decoration: none;
        display: block;
        z-index: 999;
    }

    .dropdown-content a:hover {
        color: #E10E49;
        text-decoration: underline;
        z-index: 999;
        font-family: 'Open Sans', sans-serif;
    }
    .dropdown:hover .dropdown-content {
        display: block;
        z-index: 999;


    }

    .dropdown:hover .dropbtn {
        color: #00B9EA;
        text-decoration: underline;
        z-index: 999;

    }






    nav #d {
        width: 30px;
        height: 30px;
    }
    /** NAV SLUT **/
    #info_tekst h3 {
        text-align: center;
        font-size: 1.5rem;
    }
    .cykel {
        display: inline-block;
        border: none;
        text-align: center;
        padding: 3px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .cykel span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .cykel span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .cykel:hover span {
        padding-right: 25px;
    }

    .cykel:hover span:after {
        opacity: 1;
        right: 0;
    }

    .dist {
        display: inline-block;
        border: none;
        text-align: center;
        padding: 3px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .dist span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .dist span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .dist:hover span {
        padding-right: 25px;
    }

    .dist:hover span:after {
        opacity: 1;
        right: 0;
    }
    #distortion button {
        background-color: black;
        border-radius: 7px;
        border: none;
        color: #F2F2F2;
        margin-top: 9px;
        padding: 6px;

    }

    .basis {
        display: inline-block;
        border: none;
        text-align: center;
        padding: 3px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .basis span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .basis span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .basis:hover span {
        padding-right: 25px;
    }

    .basis:hover span:after {
        opacity: 1;
        right: 0;
    }

    .basis-button button {
        background-color: #E10E49;
        border-radius: 15px;
        border: none;
        color: #F2F2F2;
        position: relative;

        top: 8vw;
        padding: 15px;
        font-size: 15px;
    }

    #ansvar img {
        width: 20%;
    }

    #genhusning img {
        width: 15%;
    }

    #retshjaelp img {
        width: 16%;
    }
    #retshjaelp {
        margin: 0 auto;
    }

    .menu-container {
        display: grid;
        grid-gap: 7px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat (4, 1fr);
        grid-template-areas: "title title title" "explainer explainer explainer" "info info info" "insta you face";
        margin: 0 auto;
    }

    #explainer {}

    #explainer img {
        width: 100%;
        grid-area: title;

    }
    #info_tekst {
        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }
    #info_distortion {
        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }


    header {
        text-decoration: none;
        margin-bottom: 10vw;
    }

    nav img {
        width: 25px;
        height: 25px;
        position: relative;
        top: 1vw;

        top: 1.3vw;

    }
    nav a {
        text-decoration: none;
        color: #052951;
        text-align: center;
    }
    nav {
        word-spacing: 30px;
        background-color: white;
        height: 45px;
        cursor: pointer;
        text-align: center;
    }
    nav a:hover {
        /*        background-color: #00B9EA;*/
        color: #00B9EA;
        text-decoration: underline;
        /*        border: 2px solid #00B9EA;*/
        /*        opacity: 0.1;*/
    }
    #info button {
        background-color: #E10E49;
        border-radius: 7px;
        border: none;
        color: #F2F2F2;
    }

    #cykel img {
        width: 22%;
    }
    #cykel {
        text-align: center;
    }

    #mobil img {
        width: 10%;
    }

    #mobil {
        text-align: center;
    }

    #tablet img {
        width: 16%;
    }

    #tablet {
        text-align: center;
    }

    #computer img {
        width: 24%;
    }

    #computer {
        text-align: center;
    }

    /** FOOTER **/
    footer {
        text-align: center;
        margin-top: 30px;
        cursor: pointer;
    }

    footer a {
        cursor: pointer;
    }
    footer img {
        width: 50%;
        cursor: pointer;
    }

    #insta {
        grid-area: insta;
        cursor: pointer;
    }

    #youtube {
        grid-area: you;
    }

    #face {
        grid-area: face;
    }

    footer button {
        text-decoration: none;
        border: none;
        width: 15%;
        cursor: pointer;
    }

}

@media screen and (min-width:770px) {
    nav #d {
        width: 40px;
        height: 40px;
        position: relative;
        top: 1.7vw;
    }

    nav img {
        width: 30px;
        height: 30px;
        position: relative;


    }
    nav a {
        text-decoration: none;
        color: #052951;
        text-align: center;
        font-size: 1rem;

    }

    nav button {
        font-size: 1rem;
    }
    nav {
        word-spacing: 60px;
        background-color: white;
        height: 65px;
        cursor: pointer;
        text-align: center;
    }

    .basis-button button {
        background-color: #E10E49;
        border-radius: 20px;
        border: none;
        color: #F2F2F2;
        position: relative;

        top: 8vw;
        padding: 20px;
        font-size: 15px;
    }
}

@media screen and (min-width:1000px) {
    .cykel {
        display: inline-block;
        border: none;
        text-align: center;
        padding: 3px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .cykel span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .cykel span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .cykel:hover span {
        padding-right: 25px;
    }

    .cykel:hover span:after {
        opacity: 1;
        right: 0;
    }

    .basis {
        display: inline-block;
        border: none;
        text-align: center;
        padding: 3px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .basis span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .basis span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .basis:hover span {
        padding-right: 25px;
    }

    .basis:hover span:after {
        opacity: 1;
        right: 0;
    }

    nav #d {
        width: 40px;
        height: 40px;
        position: relative;
        top: 1vw;

    }
    nav img {
        width: 30px;
        height: 30px;
        position: relative;
        top: 0.7vw;


    }
    nav button {
        text-decoration: none;
        color: #052951;
        text-align: center;

        font-size: 1.1rem
    }
    nav a {
        font-size: 1.1rem
    }
    nav {
        word-spacing: 100px;
        height: 65px;
        cursor: pointer;
        text-align: center;
    }
    nav a:hover {}
}

/** MENU **/
