nav .menu a {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #052951;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #052951;
}



#info_tekst {
    text-align: center;
}

#info_tekst span {
    color: #E10E49;
}

#info_tekst h3 {
    text-align: center;
}

#basis {
    margin-top: 20px;
    text-align: center;
}

#basis span {
    color: #F2F2F2;
}

.menu-container {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (1fr 1fr);
    grid-template-areas: "title title" "explainer explainer";
}

@media screen and (max-width:500px) {

    .cykel {
        display: inline-block;


        border: none;

        text-align: center;

        padding: 3px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .cykel span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .cykel span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .cykel:hover span {
        padding-right: 25px;
    }

    .cykel:hover span:after {
        opacity: 1;
        right: 0;
    }

    .basis {
        display: inline-block;


        border: none;

        text-align: center;

        padding: 3px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .basis span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .basis span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .basis:hover span {
        padding-right: 25px;
    }

    .basis:hover span:after {
        opacity: 1;
        right: 0;
    }


    nav #d {
        width: 0px;
        position: relative;
        left: -75vw;

    }



    nav a {
        text-decoration: none;
        color: #052951;
        text-align: center;
        font-size: 0.9rem;


    }
    nav {

        background-color: white;
        height: 40px;
        cursor: pointer;
        text-align: center;
    }
    nav a:hover {
        background-color: #00B9EA;
        border: 2px solid #00B9EA;
        color: white;
        opacity: 0.6;
    }

    #explainer {
        width: 60px;
    }

}

@media screen and (max-width:627px) {


    .cykel {
        display: inline-block;


        border: none;

        text-align: center;

        padding: 3px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .cykel span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .cykel span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .cykel:hover span {
        padding-right: 25px;

    }

    .cykel:hover span:after {
        opacity: 1;
        right: 0;

    }

    .basis {
        display: inline-block;


        border: none;

        text-align: center;

        padding: 3px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .basis span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .basis span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .basis:hover span {
        padding-right: 25px;
    }

    .basis:hover span:after {
        opacity: 1;
        right: 0;
    }

    nav img {
        width: 22px;
        height: 22px;
        position: relative;
        top: 1.3vw;

    }
    nav a {
        text-decoration: none;
        color: #052951;
        text-align: center;



    }
    nav {
        word-spacing: 30px;
        background-color: white;
        height: 40px;
        cursor: pointer;
        text-align: center;
    }
    nav a:hover {
        background-color: #00B9EA;
        border: 2px solid #00B9EA;
        color: white;
        opacity: 0.6;
    }


    body {
        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }
    #info {
        display: grid;
        grid-gap: 22px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (1fr 1fr);
        grid-template-areas: "title title" "explainer explainer";
        margin: 0 auto;
    }

    .menu-container {
        display: grid;
        grid-gap: 7px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat (4, 1fr);
        grid-template-areas: "title title title" "explainer explainer explainer" "info info info" "insta you face";
        margin: 0 auto;
    }




    /** SLUT MENU **/
    #explainer {
        grid-area: explainer;
    }

    #explainer img {
        width: 100%;
    }

    #info button {
        background-color: #E10E49;
        border-radius: 7px;
        border: none;
        color: #F2F2F2;
    }
    #info {
        margin-top: 30px;
    }

    #info_tekst {
        margin-top: 30px;

        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }
    #basis {
        margin-top: 40px;
    }

    #cykel img {
        width: 22%;
    }
    #cykel {
        text-align: center;
    }

    #mobil img {
        width: 10%;
    }

    #mobil {
        text-align: center;
    }

    #tablet img {
        width: 16%;
    }

    #tablet {
        text-align: center;
    }

    #computer img {
        width: 24%;
    }

    #computer {
        text-align: center;
    }

    /** FOOTER **/
    footer {
        text-align: center;
        margin-top: 100px;

    }
    footer img {
        width: 50px;

    }

    #insta {
        grid-area: insta;
    }

    #youtube {
        grid-area: you;
    }

    #face {
        grid-area: face;
    }

    #ansvar img {
        width: 20%;
    }
    #genhusning img {
        width: 15%;
    }
    #retshjaelp img {
        width: 15%;
    }
    .basis-button button {
        background-color: #E10E49;
        border-radius: 7px;
        border: none;
        color: #F2F2F2;

    }

    footer button {
        text-decoration: none;
        border: none;
        width: 15%;
    }


}

@media screen and (min-width:628px) {


    nav #d {
        width: 30px;
        height: 30px;
    }


    .cykel {
        display: inline-block;


        border: none;

        text-align: center;

        padding: 3px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .cykel span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .cykel span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .cykel:hover span {
        padding-right: 25px;
    }

    .cykel:hover span:after {
        opacity: 1;
        right: 0;
    }


    .basis {
        display: inline-block;


        border: none;

        text-align: center;

        padding: 3px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .basis span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .basis span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .basis:hover span {
        padding-right: 25px;
    }

    .basis:hover span:after {
        opacity: 1;
        right: 0;
    }


    #info {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (1fr 1fr);
        grid-template-areas: "title title" "explainer explainer";
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #basis {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat (1fr 1fr);
        grid-template-areas: "title title";
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;

    }
    .basis-button button {
        background-color: #E10E49;
        border-radius: 15px;
        border: none;
        color: #F2F2F2;
        position: relative;

        top: 8vw;
        padding: 15px;
        font-size: 15px;
    }

    #ansvar img {
        width: 20%;
    }

    #genhusning img {
        width: 15%;
    }

    #retshjaelp img {
        width: 16%;

    }
    #retshjaelp {
        margin: 0 auto;
    }


    .menu-container {
        display: grid;
        grid-gap: 7px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat (4, 1fr);
        grid-template-areas: "title title title" "explainer explainer explainer" "info info info" "insta you face";
        margin: 0 auto;
    }
    body {
        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }




    #explainer {}

    #explainer img {
        width: 100%;
        grid-area: title;

    }
    #info_tekst {


        background: linear-gradient(to bottom, rgba(213, 237, 250, 0.65)0%, rgba(0, 0, 0, 0) 100%);
    }


    header {

        text-decoration: none;
        margin-bottom: 10vw;
    }




    nav img {
        width: 25px;
        height: 25px;
        position: relative;
        top: 1vw;

    }
    nav a {
        text-decoration: none;
        color: #052951;
        text-align: center;



    }
    nav {
        word-spacing: 52px;
        background-color: white;
        height: 45px;
        cursor: pointer;
        text-align: center;
    }
    nav a:hover {
        background-color: #00B9EA;
        border: 2px solid #00B9EA;
        color: white;
        opacity: 0.6;
    }
    #info button {
        background-color: #E10E49;
        border-radius: 7px;
        border: none;
        color: #F2F2F2;
    }




    #cykel img {
        width: 22%;
    }
    #cykel {
        text-align: center;
    }

    #mobil img {
        width: 10%;
    }

    #mobil {
        text-align: center;
    }

    #tablet img {
        width: 16%;
    }

    #tablet {
        text-align: center;
    }

    #computer img {
        width: 24%;
    }

    #computer {
        text-align: center;
    }


    /** FOOTER **/
    footer {
        text-align: center;
        margin-top: 100px;
    }
    footer img {
        width: 50%;
    }

    #insta {
        grid-area: insta;
    }

    #youtube {
        grid-area: you;
    }

    #face {
        grid-area: face;
    }

    footer button {
        text-decoration: none;
        border: none;
        width: 15%;


    }

}

@media screen and (min-width:770px) {

    nav #d {
        width: 40px;
        height: 40px;
        position: relative;
        top: 1.7vw;
    }

    nav img {
        width: 30px;
        height: 30px;
        position: relative;


    }
    nav a {
        text-decoration: none;
        color: #052951;
        text-align: center;
        font-size: 1.1rem;

    }
    nav {
        word-spacing: 70px;
        background-color: white;
        height: 65px;
        cursor: pointer;
        text-align: center;
    }
    nav a:hover {
        background-color: #00B9EA;
        border: 2px solid #00B9EA;
        color: white;
        opacity: 0.6;
    }
    .basis-button button {
        background-color: #E10E49;
        border-radius: 20px;
        border: none;
        color: #F2F2F2;
        position: relative;

        top: 8vw;
        padding: 20px;
        font-size: 15px;
    }
}

@media screen and (min-width:1000px) {
    .cykel {
        display: inline-block;


        border: none;

        text-align: center;

        padding: 3px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .cykel span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .cykel span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .cykel:hover span {
        padding-right: 25px;
    }

    .cykel:hover span:after {
        opacity: 1;
        right: 0;
    }

    .basis {
        display: inline-block;


        border: none;

        text-align: center;

        padding: 3px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .basis span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .basis span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .basis:hover span {
        padding-right: 25px;
    }

    .basis:hover span:after {
        opacity: 1;
        right: 0;
    }

    nav #d {
        width: 40px;
        height: 40px;
        position: relative;
        top: 1vw;

    }
    nav img {
        width: 30px;
        height: 30px;
        position: relative;
        top: 0.7vw;


    }
    nav a {
        text-decoration: none;
        color: #052951;
        text-align: center;



    }
    nav {
        word-spacing: 100px;
        height: 65px;
        cursor: pointer;
        text-align: center;
    }
    nav a:hover {
        background-color: #00B9EA;
        border: 2px solid #00B9EA;
        color: white;
        opacity: 0.6;
    }


}

/** MENU **/
